
<div class="root">

	<div class="top_bg">
		<div class="row" id ="firstline" style="padding-top:50px;">
			<div class="col-md-2"></div>
			<div class="col-md-8">
			<span  style="font-size:40px; text-align:center;">STAR IN ME</span>
			</div>
			<div class="col-md-2"></div>
		</div>

		<div class="row" style=" padding-bottom:50px;">
			<div class="col-md-2"></div>
			<div class="col-md-8">
			<span class="ko" style="margin-left :auto; margin-right :auto; ">당신이 할 줄 아는 모든 것, 
			<span style="font-size:23px;"> &nbsp;스타인미</span>에서 시공간을 초월해 전달해드립니다.</span>
			</div>
			<div class="col-md-2"></div>
		</div>

		<div class ="row" style="padding-bottom:50px;">
			<div class="col-md-2 col-xs-2"></div>
			<div class="col-md-2 col-xs-2" >
				<%= image_tag "phone.png", size:"150x250"  %>
			</div>
			<div class="col-md-1 col-xs-1 vertical" >
				<%= image_tag "arrow.png", size:"20x35" %>
			</div>
			<div class="col-md-2 col-xs-2">
				<%= image_tag "phone.png", size:"150x250" %>
			</div>
			<div class="col-md-1 col-xs-1 vertical">
				<%= image_tag "arrow.png", size: "20x35" %>
			</div>
			<div class="col-md-2 col-xs-2">
				<%= image_tag "phone.png", size:"150x250" %>
			</div>
			<div class="col-md-2 col-xs-2"></div>
		</div>

		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<%= image_tag "download.png", size:"50x50" %>
				<span style="font-size:40px;">&nbsp;APP DOWNLOAD</span>
			</div>
			<div class="col-md-2"></div>
		</div>

		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8" style="margin-top:-15px;">
			스타인미 앱 다운받기
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

	<!-- project list-->
	<div class="main_container">
		<p>현재 앱에 등록되어 있는 기술</p>
		<div class="boxboundary">
			<div class=" row boxdiv">
				<div class="col-md-3 col-xs-3">
					<div class="thumbnail">
						project1
					</div>
				</div>
				<div class="col-md-3 col-xs-3">
					<div class="thumbnail">
						project1
					</div>
				</div>
				<div class="col-md-3 col-xs-3">
					<div class="thumbnail">
						project1
					</div>
				</div>
				<div class="col-md-3 col-xs-3">
					<div class="thumbnail">
						project1
					</div>
				</div>
			</div>
			
			<div class=" row boxdiv">
				<div class="col-md-3 col-xs-3">
					<div class="thumbnail">
						project1
					</div>
				</div>
				<div class="col-md-3 col-xs-3">
					<div class="thumbnail">
						project1
					</div>
				</div>
				<div class="col-md-3 col-xs-3">
					<div class="thumbnail"
						>project1
					</div>
				</div>
				<div class="col-md-3 col-xs-3">
					<div class="thumbnail">
						project1
					</div>
				</div>
			</div>				

			<div class="row boxdiv">
				<div class="col-md-3 col-xs-3">
					<div class="thumbnail">
						project1
					</div>
				</div>
				<div class="col-md-3 col-xs-3">
					<div class="thumbnail">
						project1
					</div>
				</div>
				<div class="col-md-3 col-xs-3">
					<div class="thumbnail"
						>project1
					</div>
				</div>
				<div class="col-md-3 col-xs-3">
					<div class="thumbnail">
						project1
					</div>
				</div>
			</div>

		</div>

		<div class="plus" style="margin-bottom:30px;">
			<button style="margin:auto;display:block; background: transparent; border:0;"  type="submit"  size="large">
				<%= image_tag "loading.png", size:"40x40"  %> 
			</button>
		</div>
	</div>

	

</div>
